@import '../../../helpers/variables';

.checkbox {
    display: flex;
    align-items: center;
    padding-top: 2em;
    
    &:nth-child(2) {
        margin-left: 2em;
    }


    input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* create custom checkbox appearance */
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        padding: 0.1em;
        /* background-color only for content */
        background-clip: content-box;
        border: 0.125em solid #bbbbbb;
        border-radius: 0.25em;
        margin-left: 0.6em;
        margin-right: 0.6em;
    
        &:checked{
            background: url('../../../assets/others/icon-checked.svg') no-repeat;
        }
    
        &:focus{
            outline: none !important;
        }
    }
}