@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './helpers/_variables';

/* RESET CSS*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    border: 0;
    background: none;
    font-family: Poppins, sans-serif;
}

body{
    box-sizing: border-box;
    word-break: break-all;
    font: $default-font;
    text-rendering: optimizelegibility;
    background: $light-grey;
    -webkit-font-smoothing: antialiased;
    line-height: 1.15;
    overflow-y: scroll;
    
    input, button, textarea {
        font: $default-font;
    }
    
    button {
        cursor: pointer;
    }
}

